.city-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    border: 1px solid #E2E5EB;
    border-radius: 6px;
    padding: 15px 20px;
    transition: all 0.3s ease;
    margin-top: 10px;
    color: #000;
    text-decoration: none;
}

.city-card:hover{
    cursor: pointer;
    border-color: transparent;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.08), 0 4px 16px rgba(0, 0, 0, 0.08);;
}

.city-card__name{
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
}

.city-card__temp{
    display: flex;
    align-items: center;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
}

.city-card__wind svg{
    width: 11px;
    height: 11px;
}

.city-card__wind{
    display: flex;
    align-items: center;
}

.city-card__wind div:nth-child(2){
    font-size: 12px;
    line-height: 16px;
    margin: 0 10px;
}

.city-card__favorite{
    width: 34px;
}
